.circulo,.circulo::before{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 20px solid  #f8d33b;
    border-right: 20px solid  #f8d33b;
    border-bottom: 20px solid  #f5fced;
    border-left: 20px solid  #f5fced;
    transform: rotate(45deg);
    color: #f8d33b;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.temp
{
    margin: 200px auto;
}

.circulo
{
    transform: rotate(45deg);
}

.circulo::before
{
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    transform: rotate(180deg);
    border-left-color: transparent;
    border-bottom-color: transparent;
    animation: load is linear;
}

.circulo.p75::before
{
    transform: rotate(calc(180deg * (75 - 50) / 50));
}
.circulo.p80::before
{
    transform: rotate(calc(180deg * (80 - 50) / 50));
}

.circulo.p82::before
{
    transform: rotate(calc(180deg * (82 - 50) / 50));
       
}
.circulo.p90::before
{
    transform: rotate(calc(180deg * (90 - 50) / 50));
       
}
.circulo.p95::before
{
    transform: rotate(calc(180deg * (95 - 50) / 50));
}

.circulo>span
{
    transform: rotate(-45deg);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    text-align: center;
   
}